/* Estilos para o elemento com o ID "titulo-principal" */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

#titulo-principal {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.texto-introducao {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
    line-height: 1.5;
}

.caixa p {
    font-size: 1em;
    color: #999;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

figure img {
    width: 200px;
    height: auto;
    margin: 10px;
}

figcaption {
    text-align: center;
    font-size: 0.8em;
    color: #777;
}